.inbox-page {
  border-top: 1px solid #e6e6e6;
  width: 100%;
  background-color: #f7f7f7;
  height: calc(100vh - 82px);
  padding: 40px;
}

.inbox-page .inbox-wrapper {
  border: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
  height: 100%;
}

.inbox-page .inbox-wrapper .sidebar {
  width: 300px;
  height: 100%;
  border-right: 1px solid #e6e6e6;
}

.inbox-page .inbox-wrapper .main-area {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
}

.inbox-page .inbox-wrapper .main-area .empty-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inbox-page .inbox-wrapper .main-area .empty-wrap .empty-icon {
  font-size: 60px;
  color: #1dbf73;
  text-align: center;
}

.inbox-page .inbox-wrapper .main-area .empty-wrap .empty-title {
  font-size: 30px;
  color: #62646a;
  font-weight: 600;
  text-align: center;
}

.inbox-page .inbox-wrapper .main-area .empty-wrap .empty-subtitle {
  font-size: 16px;
  text-align: center;
  color: gray;
}

.chatlist {
  height: 100%;
}

.chatlist .chat-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 15px;
  font-size: 14px;
  color: gray;
  border-bottom: 1px solid #e6e6e6;
}

.chatlist .chat-header i {
  color: #a09e9e;
  font-size: 18px;
}

.chatlist .user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 70px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.chatlist .user-list li.active {
  position: relative;
  background-color: #f1f1f1;
}

.chatlist .user-list li.active .user-list-wrap .message {
  color: #1dbf73;
}

.chatlist .user-list li.active::after {
  position: absolute;
  content: "new";
  color: #1dbf73;
  right: 10px;
  font-size: 12px;
  bottom: 8px;
}

.chatlist .user-list li .user-list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid #e0e0e0;
  padding: 15px;
}

.chatlist .user-list li .user-list-wrap:hover {
  background: #f7f7f7;
}

.chatlist .user-list li .user-list-wrap .profile-img {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.chatlist .user-list li .user-list-wrap .profile-img .indicator {
  height: 14px;
  width: 14px;
  border: 2px solid white;
  background: #989898;
  position: absolute;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

.chatlist .user-list li .user-list-wrap .profile-img .indicator.active {
  background: #1dbf73;
}

.chatlist .user-list li .user-list-wrap .profile-img img {
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.chatlist .user-list li .user-list-wrap .top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chatlist .user-list li .user-list-wrap .name {
  font-size: 14px;
  color: #222325;
  font-weight: 600;
  white-space: nowrap;
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatlist .user-list li .user-list-wrap .time {
  font-size: 12px;
  color: #95979d;
  font-weight: 500;
}

.chatlist .user-list li .user-list-wrap .message {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  color: #555555;
}

.chat-area {
  height: 100%;
}

.chat-area .chat-area-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 20px;
  border-bottom: 1px solid #e0e0e0;
}

.chat-area .chat-area-header .username {
  margin-left: 15px;
  font-weight: 600;
  font-size: 18px;
  color: #333333;
  position: relative;
}

.chat-area .chat-area-header .username .indicator {
  position: absolute;
  height: 10px;
  width: 10px;
  left: -15px;
  border-radius: 50%;
  background-color: #9a9a9a;
  top: 10px;
}

.chat-area .chat-area-header .time {
  font-size: 12px;
  color: gray;
}

.chat-area .chat-area-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% - 70px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat-area .chat-area-wrap .chatbox {
  height: calc(100% - 96px);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.chat-area .chat-area-wrap .chatbox .chat-content {
  font-size: 12px;
}

.chat-area .chat-area-wrap .chatbox .chat-content .chat-file {
  background-color: #f3f3f3;
  padding: 6px 10px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1dbf73;
  border-radius: 4px;
}

.chat-area .chat-area-wrap .chatbox .chat-content .chat-file svg {
  font-size: 16px;
  margin-right: 5px;
}

.chat-area .chat-area-wrap .chatbox .chat-content .loading {
  text-align: center;
  font-size: 14px;
  color: gray;
  padding: 30px 0;
}

.chat-area .chat-area-wrap .chatbox .chat-content .end-message {
  text-align: center;
  position: relative;
  font-size: 14px;
  color: gray;
  padding: 30px 0;
}

.chat-area .chat-area-wrap .chatbox .chat-content .end-message::before {
  content: "";
  position: absolute;
  bottom: 36px;
  left: 5%;
  width: 30%;
  border-top: 1px solid #cacaca;
}

.chat-area .chat-area-wrap .chatbox .chat-content .end-message::after {
  content: "";
  position: absolute;
  bottom: 36px;
  right: 5%;
  width: 30%;
  border-top: 1px solid #cacaca;
}

.chat-area .chat-area-wrap .chatbox .chat-content .user-list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px 20px 15px;
}

.chat-area .chat-area-wrap .chatbox .chat-content .user-list-wrap .content-wrap {
  width: 100%;
}

.chat-area .chat-area-wrap .chatbox .chat-content .user-list-wrap:hover {
  background: #f7f7f7;
}

.chat-area .chat-area-wrap .chatbox .chat-content .user-list-wrap .profile-img {
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.chat-area .chat-area-wrap .chatbox .chat-content .user-list-wrap .profile-img img {
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.chat-area .chat-area-wrap .chatbox .chat-content .user-list-wrap .top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -5px;
}

.chat-area .chat-area-wrap .chatbox .chat-content .user-list-wrap .name {
  font-size: 14px;
  color: #222325;
  font-weight: 600;
  max-width: 200px;
  overflow: hidden;
  margin-right: 10px;
}

.chat-area .chat-area-wrap .chatbox .chat-content .user-list-wrap .time {
  font-size: 12px;
  color: #95979d;
  font-weight: 500;
}

.chat-area .chat-area-wrap .chatbox .chat-content .user-list-wrap .message {
  position: relative;
  top: -5px;
  font-size: 14px;
  color: #555555;
}

.chat-area .chat-area-wrap .chatbox .chat-bottom {
  padding: 0px 20px;
  position: relative;
}

.chat-area .chat-area-wrap .chatbox .chat-bottom .upload-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f7f7f7;
  padding: 6px 12px;
  position: absolute;
  top: -39px;
  left: 20px;
  right: 20px;
  border-bottom: 2px solid #50c074;
}

.chat-area .chat-area-wrap .chatbox .chat-bottom .upload-container .name {
  font-size: 14px;
  text-overflow: ellipsis;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
}

.chat-area .chat-area-wrap .chatbox .chat-bottom .upload-container .delete {
  color: #f16868;
  cursor: pointer;
}

.chat-area .chat-area-wrap .chatbox .chat-bottom .upload-container .delete:hover {
  color: #e44242;
}

.chat-area .chat-area-wrap .chatbox .chat-bottom textarea {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  color: gray;
  resize: none;
  border-color: #e6e6e6;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 8px #eaeaea;
          box-shadow: 0px 1px 8px #eaeaea;
  margin-bottom: 8px;
}

.chat-area .chat-area-wrap .chatbox .chat-bottom textarea:focus-visible {
  outline: none;
  border-color: #b9b9b9;
}

.chat-area .chat-area-wrap .chatbox .chat-bottom .action-buttons {
  padding: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat-area .chat-area-wrap .chatbox .chat-bottom .action-buttons .actions input[type="file"] {
  display: none;
}

.chat-area .chat-area-wrap .chatbox .chat-bottom .action-buttons .actions .custom-file-upload {
  font-size: 22px;
  color: #a0a0a0;
  margin-right: 10px;
}

.chat-area .chat-area-wrap .chatbox .chat-bottom .action-buttons .actions .create-offer-btn {
  font-size: 14px;
  padding: 5px 16px;
  border-radius: 3px;
  font-weight: 600;
  border: 1px solid #47c163;
  color: #1dbf73;
  cursor: pointer;
}

.chat-area .chat-area-wrap .chatbox .chat-bottom .action-buttons .send {
  font-size: 16px;
  color: #1dbf73;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background-color: transparent;
  line-height: 30px;
}

.chat-area .chat-area-wrap .chat-about {
  width: 280px;
  border-left: 1px solid #dedede;
  height: 100%;
  padding: 12px 24px;
}

.chat-area .chat-area-wrap .chat-about .title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.chat-area .chat-area-wrap .chat-about .profile-img {
  height: 70px;
  width: 70px;
  margin: 0 auto;
}

.chat-area .chat-area-wrap .chat-about .profile-img img {
  height: inherit;
  width: inherit;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.chat-area .chat-area-wrap .chat-about .username {
  text-align: center;
  font-weight: 600;
  margin: 6px 0;
  font-size: 14px;
}

.chat-area .chat-area-wrap .chat-about .user-detail {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.chat-area .chat-area-wrap .chat-about .user-detail li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 32px;
}

.chat-area .chat-area-wrap .chat-about .user-detail li span {
  color: gray;
}

.chat-area .chat-area-wrap .chat-about .user-detail li span:last-child {
  color: black;
  font-weight: 600;
}

.chat-offer-message-title {
  font-size: 14px;
  font-style: italic;
  font-family: 300;
  color: #8c8c8d;
  margin: 10px 0px;
}

.chat-offer-seller {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  overflow: hidden;
}

.chat-offer-seller .title-wrapper {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  border-bottom: 1px solid #d4d4d4;
}

.chat-offer-seller .title-wrapper .title {
  font-size: 16px;
  font-weight: 600;
  margin-right: 20px;
}

.chat-offer-seller .title-wrapper .price {
  font-size: 20px;
  font-weight: 600;
}

.chat-offer-seller .content-wrapper {
  background-color: #fff;
  padding: 0px 24px 24px 24px;
}

.chat-offer-seller .content-wrapper .description {
  color: #95979d;
  font-size: 16px;
  padding: 18px 0px;
  border-bottom: 1px solid #d4d4d4;
}

.chat-offer-seller .content-wrapper .offer-title {
  font-weight: 600;
  color: #555555;
  font-size: 16px;
  margin-top: 15px;
}

.chat-offer-seller .content-wrapper .offer-list {
  border-bottom: 1px solid #d4d4d4;
  padding: 10px 0px 15px 0;
}

.chat-offer-seller .content-wrapper .offer-list i {
  font-size: 16px;
  color: #47c163;
  margin-right: 5px;
}

.chat-offer-seller .content-wrapper .offer-list span {
  font-size: 16px;
  margin-right: 20px;
  color: #5e5e5f;
  line-height: 180%;
}

.chat-offer-seller .content-wrapper .expire-time {
  text-align: right;
  font-size: 14px;
  color: #8c8c8d;
  padding: 15px 0;
}

.chat-offer-seller .content-wrapper .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.chat-offer-seller .content-wrapper .button-wrapper .withdraw-btn {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  padding: 8px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  background-color: #5bb5d8;
}

.chat-offer-seller .content-wrapper .button-wrapper .accept-btn {
  background-color: #1dbf73;
  display: inline-block;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-right: 20px;
}

.chat-offer-seller .content-wrapper .button-wrapper .accept-btn:hover {
  background-color: #1cad6a;
}

.chat-offer-seller .content-wrapper .button-wrapper .reject-btn {
  background-color: #e44242;
  display: inline-block;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.chat-offer-seller .content-wrapper .button-wrapper .reject-btn:hover {
  background-color: #d83030;
}

.chat-offer-seller .content-wrapper .info-wrapper {
  padding: 10px 30px;
  background-color: #d4d4d4;
  color: #3d3d3d;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  font-size: 16px;
}
/*# sourceMappingURL=style.css.map */