.inbox-page {
  border-top: 1px solid #e6e6e6;
  width: 100%;
  background-color: #f7f7f7;
  height: calc(100vh - 82px);
  padding: 40px 95px;
  .inbox-wrapper {
    border: 1px solid #e6e6e6;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #fff;
    height: 100%;
    .sidebar {
      width: 300px;
      height: 100%;
      border-right: 1px solid #e6e6e6;
    }
    .main-area {
      flex: 1;
      margin: 0;
      height: 100%;
      .empty-wrap {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .empty-icon {
          font-size: 60px;
          color: #1dbf73;
          text-align: center;
        }
        .empty-title {
          font-size: 30px;
          color: #62646a;
          font-weight: 600;
          text-align: center;
        }
        .empty-subtitle {
          font-size: 16px;
          text-align: center;
          color: gray;
        }
      }
    }
  }
}
.chatlist {
  height: 100%;
  .chat-header {
    display: flex;
    justify-content: space-between;
    padding: 24px 15px;
    font-size: 14px;
    color: gray;
    border-bottom: 1px solid #e6e6e6;
    i {
      color: rgb(160, 158, 158);
      font-size: 18px;
    }
  }
  .user-list {
    display: flex;
    flex-direction: column;
    height: calc(100% - 70px);
    overflow-x: hidden;
    overflow-y: scroll;

    li {
      &.active {
        position: relative;
        .user-list-wrap {
          .message {
            color: #1dbf73;
          }
        }
        &::after {
          position: absolute;
          content: "new";
          color: #1dbf73;
          right: 10px;
          font-size: 12px;
          bottom: 8px;
        }
        background-color: #f1f1f1;
      }
      .user-list-wrap {
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #e0e0e0;
        padding: 15px;
        &:hover {
          background: #f7f7f7;
        }

        .profile-img {
          position: relative;
          width: 50px;
          height: 50px;
          margin-right: 10px;
          .indicator {
            height: 14px;
            width: 14px;
            border: 2px solid white;
            background: #989898;
            position: absolute;
            border-radius: 50%;
            bottom: 0;
            right: 0;
          }
          .indicator.active {
            background: #1dbf73;
          }
          img {
            height: inherit;
            width: inherit;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .top-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .name {
          font-size: 14px;
          color: #222325;
          font-weight: 600;
          white-space: nowrap;
          width: 140px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .time {
          font-size: 12px;

          color: #95979d;
          font-weight: 500;
        }
        .message {
          white-space: nowrap;
          width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 13px;
          color: #555555;
        }
      }
    }
  }
}

.chat-area {
  height: 100%;
  .chat-area-header {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom: 1px solid #e0e0e0;
    .username {
      margin-left: 15px;
      font-weight: 600;
      font-size: 18px;
      color: #333333;
      position: relative;
      .indicator {
        position: absolute;
        height: 10px;
        width: 10px;
        left: -15px;
        border-radius: 50%;
        background-color: #9a9a9a;
        top: 10px;
      }
      .indicator.active {
        background: #1dbf73;
      }
    }
    .time {
      font-size: 12px;
      color: gray;
    }
  }
  .chat-area-wrap {
    display: flex;
    height: calc(100% - 70px);
    justify-content: space-between;
    .chatbox {
      height: calc(100% - 96px);
      flex: 1;
      .chat-content {
        font-size: 12px;
        // height: calc(100vh - 350px);
        .chat-file {
          cursor: pointer;
          background-color: #f3f3f3;
          padding: 6px 10px;
          font-size: 12px;
          display: flex;
          align-items: center;
          color: #1dbf73;
          border-radius: 4px;
          svg {
            font-size: 16px;
            margin-right: 5px;
          }
        }
        .loading {
          text-align: center;
          font-size: 14px;
          color: gray;
          padding: 30px 0;
        }
        .end-message {
          text-align: center;
          position: relative;
          font-size: 14px;
          color: gray;
          padding: 30px 0;
          &::before {
            content: "";
            position: absolute;
            bottom: 36px;
            left: 5%;
            width: 30%;
            border-top: 1px solid #cacaca;
          }
          &::after {
            content: "";
            position: absolute;
            bottom: 36px;
            right: 5%;
            width: 30%;
            border-top: 1px solid #cacaca;
          }
        }
        .user-list-wrap {
          display: flex;
          justify-content: flex-start;
          padding: 20px 20px 15px;
          .content-wrap {
            width: 100%;
          }
          &:hover {
            background: #f7f7f7;
          }
          .profile-img {
            position: relative;
            width: 35px;
            height: 35px;
            margin-right: 10px;

            img {
              height: inherit;
              width: inherit;
              object-fit: cover;
              border-radius: 50%;
            }
          }
          .top-wrap {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            top: -5px;
          }
          .name {
            font-size: 14px;
            color: #222325;
            font-weight: 600;
            max-width: 200px;
            overflow: hidden;
            margin-right: 10px;
          }
          .time {
            font-size: 12px;

            color: #95979d;
            font-weight: 500;
          }
          .message {
            position: relative;
            top: -5px;
            font-size: 14px;
            color: #555555;
          }
        }
      }
      .chat-bottom {
        padding: 0px 20px;
        .upload-container {
          display: flex;
          justify-content: space-between;
          background: #f7f7f7;
          padding: 6px 12px;
          position: absolute;
          top: -70px;
          left: 20px;
          right: 20px;
          border-bottom: 2px solid #50c074;
          .name {
            font-size: 14px;
            text-overflow: ellipsis;
            width: 300px;
            overflow: hidden;
            white-space: nowrap;
          }
          .delete {
            color: #f16868;
            cursor: pointer;
            &:hover {
              color: #e44242;
            }
          }
        }
        .chat-upload-container {
          display: flex;
          justify-content: space-between;
          font-size: 13px !important;
          flex: 1 1 auto;
          margin: 0 1rem;
          background: #f7f7f7;
          padding: 12px;
          .chat-name {
            display: flex;
            align-items: center;
            .chat-box-icon {
              color: #50c074;
              margin-right: 1rem;
            }
            .chat-file-name {
              width: auto;
              max-width: 8rem;
              display: block;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
          .chat-delete {
            color: #f16868;
            cursor: pointer;
            &:hover {
              color: #e44242;
            }
          }
        }
        textarea {
          width: 100%;
          padding: 15px;
          font-size: 14px;
          color: gray;
          resize: none;
          border-color: #e6e6e6;
          border-radius: 4px;
          box-shadow: 0px 1px 8px #eaeaea;
          margin-bottom: 8px;
          &:focus-visible {
            outline: none;
            border-color: #b9b9b9;
          }
        }
        .action-buttons {
          padding: 0px 5px;
          display: flex;
          justify-content: space-between;
          .actions {
            input[type="file"] {
              display: none;
            }
            .custom-file-upload {
              font-size: 22px;
              color: #a0a0a0;
              margin-right: 10px;
              cursor: pointer;
            }
            .create-offer-btn {
              font-size: 14px;
              padding: 5px 16px;
              border-radius: 3px;
              font-weight: 600;
              border: 1px solid #47c163;
              color: #1dbf73;
              cursor: pointer;
            }
          }
          .send {
            font-size: 16px;
            color: #1dbf73;
            font-weight: 600;
            cursor: pointer;
            border: none;
            background-color: transparent;
            line-height: 30px;
          }
        }
      }
    }
    .chat-about {
      width: 280px;
      border-left: 1px solid #dedede;
      // height: calc(100% - 152px);
      padding: 12px 24px;
      overflow-y: scroll;
      .title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      .profile-img {
        height: 70px;
        width: 70px;
        margin: 0 auto;
        img {
          height: inherit;
          width: inherit;
          border-radius: 50%;
          object-fit: cover;
          overflow: hidden;
        }
      }
      .username {
        text-align: center;
        font-weight: 600;
        margin: 6px 0;
        font-size: 14px;
      }
      .user-detail {
        margin-block: 0 20px;
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        li {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          line-height: 32px;
          span {
            color: gray;
            &:last-child {
              color: black;
              font-weight: 600;
            }
          }
        }
      }
      .recommendations {
        border-top: 1px solid #e7e7e7;
        padding: 20px 0 10px 0;
        .carousel-header {
          .title {
            h4 {
              font-size: 18px;
            }
          }
          .see-more {
            width: min-content;
            a {
              line-height: 2px;
              font-size: 13px;
            }
          }
        }
        .related-gigs {
          .related-gigs-section {
            border-bottom: 1px solid #e4e5e7;
            .related-gigs-header {
              display: flex;
              justify-content: space-between;
              margin-block: 20px 8px;
              .related-image-container {
                position: relative;
                .related-gigs-image {
                  margin-right: 12px;
                  height: 67px;
                  width: 112px;
                  object-fit: cover;
                  border-radius: 4px;
                }
                .related-gigs-heart {
                  position: absolute;
                  color: rgba(122, 125, 133, 0.75);
                  -webkit-text-stroke: 1px #fff;
                  right: 22px;
                  cursor: pointer;
                  top: 8px;
                  font-size: 22px;
                }
                .related-gigs-like {
                  color: #f74040;
                }
              }
              .related-gigs-title {
                h3 {
                  margin-bottom: 8px;
                  font-size: 14px;
                  color: #404145;
                  font-weight: 500 !important;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  line-height: 20px;
                }
                small {
                  font-size: 12px;
                  color: #b5b6ba;
                  line-height: 18px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  width: 70px;
                  white-space: nowrap;
                  display: block;
                }
              }
            }
            .related-gigs-footer {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 8px;
              .ratings-container {
                font-size: 14px;
                .related-gigs-rating {
                  color: #ffbe5b;
                  font-weight: 700;
                  i {
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                  }
                }
                .related-gigs-reviews {
                  color: #b5b6ba;
                  font-weight: 400;
                  margin-left: 2px;
                }
              }
              .related-gigs-price {
                color: #404145;
                small {
                  font-size: 12px;
                  font-weight: 400;
                  letter-spacing: 0.05em;
                }
                span {
                  font-size: 18px;
                  padding: 2px 0 8px 6px;
                }
              }
            }
          }
        }
      }
      .profile-rating-section {
        font-size: 14px;
        display: flex;
        justify-content: center;

        .profile-stars {
          color: #ffb33e;
          font-size: 16px;
          > * {
            margin-right: 0.2rem;
          }
        }
        .profile-rating {
          font-weight: 700;
          color: #62646a !important;
          padding-left: 4px;
          margin-top: 0.2rem;
        }
        .profile-rating-count {
          color: #95979d;
          padding-left: 4px;
          margin-top: 0.2rem;
        }
      }
    }
  }
}
.chat-offer-message-title {
  font-size: 14px;
  font-style: italic;
  font-family: 300;
  color: #8c8c8d;
  margin: 10px 0px;
}
.chat-offer-seller {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  overflow: hidden;
  .title-wrapper {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d4d4d4;
    .title {
      font-size: 16px;
      font-weight: 600;
      margin-right: 20px;
    }
    .price {
      font-size: 20px;
      font-weight: 600;
    }
  }
  .content-wrapper {
    background-color: #fff;
    padding: 0px 24px 24px 24px;
    .description {
      color: #95979d;
      font-size: 16px;
      padding: 18px 0px;
      border-bottom: 1px solid #d4d4d4;
    }
    .offer-title {
      font-weight: 600;
      color: #555555;
      font-size: 16px;
      margin-top: 15px;
    }
    .offer-list {
      border-bottom: 1px solid #d4d4d4;
      padding: 10px 0px 15px 0;
      i {
        font-size: 16px;
        color: #47c163;
        margin-right: 5px;
      }
      span {
        font-size: 16px;
        margin-right: 20px;
        color: #5e5e5f;
        line-height: 180%;
      }
    }
    .expire-time {
      text-align: right;
      font-size: 14px;
      color: #8c8c8d;
      padding: 15px 0;
    }
    .button-wrapper {
      display: flex;
      justify-content: flex-end;
      .withdraw-btn {
        display: inline-block;
        font-size: 16px;
        color: #fff;
        padding: 8px 24px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 600;
        background-color: #5bb5d8;
      }
      .accept-btn {
        background-color: #1dbf73;
        display: inline-block;
        color: white;
        padding: 8px 24px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        margin-right: 20px;
        &:hover {
          background-color: #1cad6a;
        }
      }
      .reject-btn {
        background-color: #e44242;
        display: inline-block;
        color: white;
        padding: 8px 24px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        &:hover {
          background-color: #d83030;
        }
      }
    }
    .info-wrapper {
      padding: 10px 30px;
      background-color: rgb(212, 212, 212);
      color: rgb(61, 61, 61);
      text-align: center;
      margin: 0 auto;
      border-radius: 4px;
      font-size: 16px;
    }
  }
}
