.resetFrom {
    width: 300px;
    .inputField {
        outline: none;
        width: 100%;
        padding: .5em;
        border: 1px solid #ddd;
        border-radius: 3px;
        margin-bottom: 10px;
    }
}
