.profile-wrapper {
  background-color: #f7f7f7;
  position: relative;
}

.profile-wrapper .profile-layout {
  padding: 30px 0;
}

.profile-wrapper .profile-layout .profile-Info {
  border: 1px solid #ddd;
  padding: 30px;
  background-color: #fff;
}

.profile-wrapper .profile-layout .profile-Info h6 {
  text-align: center;
  padding: 20px 0;
}

.profile-wrapper .profile-layout .profile-Info button {
  width: 100%;
}

.profile-wrapper .profile-layout .profile-Info .profile-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #62646a;
}

.profile-wrapper .profile-layout .profile-Info .profile-details .detail-level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-wrapper .profile-layout .profile-Info .profile-details .detail-level span {
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
}

.profile-wrapper .profile-layout .profile-Info .profile-details p {
  font-weight: 700;
  font-size: 14px;
}

.profile-wrapper .profile-layout .profile-Info .profile-image {
  width: 130px;
  margin: 0 auto;
}

.profile-wrapper .profile-layout .profile-Info .profile-image .image-icon {
  background: black !important;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.profile-wrapper .profile-layout .profile-Info .profile-image .image-icon:hover .camera-icon {
  cursor: pointer;
  opacity: 1;
}

.profile-wrapper .profile-layout .profile-Info .profile-image .image-icon:hover .profile--image {
  cursor: pointer;
  opacity: 0.1;
}

.profile-wrapper .profile-layout .profile-Info .profile-image .image-icon .visually {
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  position: absolute;
  width: 130px;
  height: 10%;
  border-radius: 50%;
}

.profile-wrapper .profile-layout .profile-Info .profile-image .image-icon .camera-icon {
  font-size: 3rem;
  position: absolute;
  color: #ddd;
  opacity: 0;
}

.profile-wrapper .profile-layout .profile-Info .profile-image .image-icon .profile--image {
  width: 130px;
  background-size: cover;
  background-position: center;
  height: 130px;
  border-radius: 50%;
  background-color: #ddd;
  background-repeat: no-repeat;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.profile-wrapper .profile-layout .profile-Info .profile-image span {
  position: absolute;
  top: 24px;
  right: 40px;
  border: 1px solid #1dbf73;
  padding: 0 6px;
  color: #1dbf73;
  border-radius: 12px;
  font-size: 14px;
}

.profile-wrapper .profile-layout .profile-Info .profile-image span svg {
  margin-right: 5px;
  margin-bottom: 5px;
}

.profile-wrapper .profile-layout .meta-content {
  border: 1px solid #ddd;
  padding: 30px;
  background-color: #fff;
  margin-top: 30px;
}

.profile-wrapper .profile-layout .meta-content .meta-content-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.profile-wrapper .profile-layout .meta-content .meta-content-head h5 {
  font-size: 16px;
  color: #0e0e0f;
}

.profile-wrapper .profile-layout .meta-content .meta-content-head a {
  color: #00698c;
  font-size: 15px;
}

.profile-wrapper .profile-layout .meta-content .meta-content-head a:hover {
  color: #00698c !important;
  text-decoration: underline !important;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body {
  color: #62646a !important;
  font-size: 14px;
  margin-bottom: 40px;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .submit-button {
  text-align: right;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .btn-lrg-standard {
  background-color: #1dbf73;
  width: calc((100% - 15px) / 2);
  line-height: 16px;
  font-weight: 700;
  margin-top: 15px !important;
  color: #fff;
  border: 1px solid transparent;
  padding: 11px 22px;
  font-size: 14px;
  margin: 0;
  display: inline-block;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: color 0.2s, background-color 0.2s, border 0.2s;
  transition: color 0.2s, background-color 0.2s, border 0.2s;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .btn-lrg-standard:hover {
  background-color: #3fca89;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .incomplete {
  background-color: #1dbf73 !important;
  color: #fff !important;
  opacity: 0.3;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  cursor: pointer;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .buttons .btn-white {
  background: 0 0;
  background-color: #fff !important;
  font-weight: 600 !important;
  color: #777 !important;
  border-color: #ccc !important;
  text-shadow: none;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .buttons .btn-white:hover, .profile-wrapper .profile-layout .meta-content .meta-content-body .buttons .btn-white:focus {
  color: #1dbf73 !important;
  border-color: #b3b3b3 !important;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .form-wrapper {
  background-color: #f4f4f4;
  margin: 0 -15px 20px;
  padding: 15px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .form-wrapper > * {
  margin-bottom: 1rem;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .form-wrapper .form-control {
  border-radius: 0 !important;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .form-wrapper .education {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .form-wrapper .education .form-group {
  margin: 0 !important;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .form-wrapper .form-input,
.profile-wrapper .profile-layout .meta-content .meta-content-body .form-wrapper .form-select {
  height: 40px;
  font-size: 14px;
  border-color: 1px solid #e5e5e5 !important;
  color: #62646a !important;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .form-wrapper .form-input:focus,
.profile-wrapper .profile-layout .meta-content .meta-content-body .form-wrapper .form-select:focus {
  color: #222325 !important;
  -webkit-box-shadow: inset 2px 2px 2px #e4e5e7 !important;
          box-shadow: inset 2px 2px 2px #e4e5e7 !important;
  outline: none !important;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .form-wrapper .certification-year {
  width: 50% !important;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .form-wrapper .textarea {
  border: none !important;
  background-color: inherit;
  width: 100%;
  border: 0;
  color: #7a7d85;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-shadow: none;
          box-shadow: none;
  resize: none;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .form-wrapper .textarea:focus {
  color: #222325 !important;
  outline: 0;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .meta-desc {
  overflow-wrap: anywhere;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .content-level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .content-level .level-text {
  margin-bottom: 0;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .content-level .edit-delete-icons {
  display: none;
  cursor: pointer;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .content-level .edit-delete-icons > *:hover {
  color: #000;
  font-weight: 800;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .content-level span {
  margin-left: 10px;
  color: #b2b2b2;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .content-level:hover .edit-delete-icons {
  display: block;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .baseLevel {
  margin-bottom: 20px;
  color: #b2b2b2;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .conent-item {
  color: #00698c !important;
  border: none;
  padding: 7px 0;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .conent-item svg {
  font-size: 13px;
  margin-right: 15px;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .conent-item:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .content-skills {
  color: #555;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .content-skills a {
  border-radius: 15px;
  display: inline-block;
  position: relative;
  min-width: 40px;
  text-align: center;
  padding: 5px 12px;
  margin: 0 10px 10px 0;
  border: 1px solid #e5e5e5;
  color: #555;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .content-skills a:hover {
  background: #f4f4f4;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .content-suggestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .content-suggestion a {
  background-color: #fafafa;
  color: #777;
  padding: 6px 10px;
  border-radius: 15px;
  font-size: 14px;
  margin: 2px 5px;
}

.profile-wrapper .profile-layout .meta-content .meta-content-body .content-suggestion a:hover {
  border: 1px solid #e5e5e5;
}

.profile-wrapper .main-contain .notation-box {
  border: 1px solid #ddd;
  padding: 20px 24px;
  background-color: #fff;
  color: #62646a;
}

.profile-wrapper .main-contain .box-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-wrapper .main-contain .box-layout p {
  font-size: 15px;
  margin-bottom: 0;
}

.profile-wrapper .main-contain .box-layout button {
  border: 1px solid #1dbf73;
  background-color: #1dbf73;
  font-size: 13px;
  font-weight: 700;
  -webkit-transition: color 0.2s, background-color 0.2s, border 0.2s, -webkit-box-shadow 0.2s;
  transition: color 0.2s, background-color 0.2s, border 0.2s, -webkit-box-shadow 0.2s;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s, -webkit-box-shadow 0.2s;
}

.profile-wrapper .main-contain .box-layout button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.profile-wrapper .main-contain .box-layout button:active {
  border: 1px solid #1dbf73;
  background-color: #1dbf73;
}

.profile-wrapper .main-contain .gig-filter-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 12px;
  border: 1px #ddd solid;
  margin-bottom: 20px;
  background: white;
}

.profile-wrapper .main-contain .gig-filter-line .active .badge {
  background: #1dbf73;
}

.profile-wrapper .main-contain .gig-filter-line .nav-tabs {
  border-bottom: none;
}

.profile-wrapper .main-contain .gig-filter-line .nav-tabs .nav-item .nav-link {
  font-size: 15px;
  text-transform: uppercase;
  color: #9c9a9a;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding-top: 0;
  border: none;
}

.profile-wrapper .main-contain .gig-filter-line .nav-tabs .nav-item .nav-link:hover {
  color: #000 !important;
  border: none;
}

.profile-wrapper .main-contain .gig-filter-line .nav-tabs .nav-item .nav-link.active {
  background: none !important;
  border: none;
  color: #000 !important;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.profile-wrapper .main-contain .gig-filter-line .nav-tabs .nav-item .nav-link.active::after {
  position: absolute;
  content: "";
  bottom: -15px;
  left: 0;
  margin: 0 auto;
  right: 0;
  height: 3px;
  width: 100%;
  border-top: 3px solid #1dbf73;
}

.profile-wrapper #Footer_footer__1w0lV {
  padding: 0 0px 34px 0px;
  background: #fff;
}
/*# sourceMappingURL=Profile.css.map */