.NavOrderWrapper {
	position: relative;
	.orderTitle {
		color: #7d8088;
		font-weight: 600;
		padding: 5px;
		&:hover {
			cursor: pointer;
			color: #1dbf73;
		}
	}
	.nav-dropdown-item {
		position: absolute;
		box-shadow: 0 0 5px 1px #8f8d8d24;
		background: white;
		background-color: #fff;
		width: 400px;
		height: 430px;
		top: 50px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		border-radius: 2px !important;
		z-index: 1000;
		border: 1px solid rgba(0, 0, 0, 0.15);
		&::after {
			content: "";
			height: 15px;
			width: 15px;
			position: absolute;
			top: -8px;
			background: white;
			right: 194px;
			transform: rotate(45deg);
			border-radius: 2px;
			border-top: 1px solid #d4d4d4;
			border-left: 1px solid #d4d4d4;
		}
	}
	.empty-container {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		height: 100%;
		i {
			font-size: 42px;
			padding: 40px 20px;
			background-color: #e8e8e8;
			border-radius: 50%;
			height: 120px;
			color: #777777;
			width: 120px;
		}
		.title {
			font-size: 18px;
			font-weight: bold;
			color: rgb(70, 69, 69);
			line-height: 42px;
		}
		.subtitle {
			font-size: 14px;
			color: gray;
			width: 80%;
			margin: 0 auto;
		}
	}
}
