.gallery {
  margin-left: 60px;
  margin-right: 90px;
}

.gallery .custom-btn {
  font-weight: 600;
  text-transform: capitalize;
  text-shadow: none;
  line-height: 45px;
  padding: 0px 35px;
  border-radius: 3px;
}

.gallery .cancel {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5));
  background: linear-gradient(#fff, #f5f5f5);
  background-color: #fff;
  border: 1px solid #ccc;
  color: #303030 !important;
}

.gallery .cancel:hover {
  text-decoration: none;
  color: #303030 !important;
}

.gallery .successBtn {
  background-color: #50c074;
  color: white;
  border: none;
}

.gallery .successBtn:hover {
  background-color: #5fce82;
}

.gallery .main-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  margin: 12px 0;
  color: #404145;
}

.gallery .main-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #404145;
}

.gallery .info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #efeff0;
  border: 1px solid #e4e5e7;
  border-radius: 4px;
  padding: 16px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 22px;
  color: #555555;
}

.gallery .info-wrap i {
  width: 36px;
  color: #222325;
  margin-top: 5px;
}

.gallery .line-break {
  border-top: 1px solid #d8d4d4;
  margin: 24px 0;
}

.gallery-wrapper {
  padding-bottom: 30px;
}

.gallery-wrapper .title {
  font-size: 18px;
  line-height: 18px;
  color: #404145;
  font-weight: 600;
}

.gallery-wrapper .subtitle {
  font-size: 14px;
  line-height: 24px;
  color: #7a7d85;
  font-weight: 400;
}

.gallery-wrapper .instruction {
  font-size: 12px;
  font-weight: 400;
  color: #7a7d85;
  line-height: 20px;
}

.gallery-wrapper .image-wrapper,
.gallery-wrapper .document-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.gallery-wrapper .upload-container.dashed {
  border: 1px dashed #dbd9d9;
}

.gallery-wrapper .upload-container.dashed:hover {
  border: 1px dashed #0e30c7;
}

.gallery-wrapper .upload-container.dark {
  border: 1px solid #3a3939;
}

.gallery-wrapper .upload-container.solid {
  border: 1px solid #dad8d8;
}

.gallery-wrapper .upload-container {
  height: 160px;
  margin-right: 15px;
  position: relative;
  margin-top: 36px;
  display: block;
  margin-bottom: 34px;
  width: 31%;
  padding: 30px;
  text-align: center;
  background: #fff;
  border: 1px dashed #dbd9d9;
}

.gallery-wrapper .upload-container .file-type {
  content: "";
  background: transparent url(https://npm-assets.fiverrcdn.com/assets/@fiverr-private/gig_upcrate/sprite-gig-edit.c77a1a7.svg) no-repeat 0 0;
  background-size: 300px 100px;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

.gallery-wrapper .upload-container .text-container {
  text-align: center;
  font-size: 12px;
  color: gray;
  line-height: 16px;
}

.gallery-wrapper .upload-container .text-container i {
  color: #50c074;
  font-size: 54px;
  text-align: center;
  display: block;
  margin-top: -15px;
  margin-bottom: 5px;
}

.gallery-wrapper .upload-container .pdf {
  height: 160px;
  width: 200px;
  overflow: hidden;
}

.gallery-wrapper .upload-container .pdf::-webkit-scrollbar {
  display: none;
}

.gallery-wrapper .upload-container .pdf {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.gallery-wrapper .upload-container .edit i {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #232222;
  border-radius: 5px;
  color: #d4d1d1;
  padding: 10px;
  font-size: 16px;
  display: none;
  cursor: pointer;
}

.gallery-wrapper .upload-container:hover .edit i {
  display: block;
}

.gallery-wrapper .upload-container:hover .edit i:hover i {
  color: white;
  cursor: pointer;
}

.gallery-wrapper .upload-container .primary {
  font-size: 13px;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
  background: -webkit-gradient(linear, left bottom, left top, from(#8c8c8c), to(transparent));
  background: linear-gradient(0deg, #8c8c8c, transparent);
  right: 0;
}

.gallery-wrapper .upload-container .label {
  margin-top: 10px;
  font-size: 14px;
  line-height: 14px;
  color: #999999;
}

.gallery-wrapper .upload-container label {
  font-size: 14px;
  line-height: 14px;
  color: #4a73e8;
  cursor: pointer;
}

.gallery-wrapper .upload-container .file-type.video {
  background-position: -166px 0;
  height: 38px;
  width: 50px;
}

.gallery-wrapper .upload-container .file-type.image {
  background-position: 0 0;
  height: 37px;
  width: 50px;
}

.gallery-wrapper .upload-container .file-type.document {
  background-position: -54px 0;
  height: 50px;
  width: 50px;
}

.gallery-wrapper .upload-container .img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.gallery-wrapper .upload-container .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=GigGallery.css.map */