.stepsNav {
	padding: 13px 35px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.stepsNav_inner_one {
		display: flex;
		justify-content: space-between;
		div {
			padding-right: 20px;
			color: #999999;

			span {
				padding: 0.23em 0.68em;
				font-size: 14px;
				color: #fff;
				height: 20px;
				background-color: #c5c6c9;
				font-weight: 500;
				margin-right: 12px;
				border-radius: 50%;
			}
			span.span-active {
				padding: 0.23em 0.68em;
				font-size: 14px;
				height: 20px;
				color: #fff;
				background: #1dbf73;
				font-weight: 500;
				margin-right: 12px;
				border-radius: 50%;
			}
		}
		div.div-active {
			color: #1dbf73;
		}
	}
}
// .stepsNav_inner_one div strong {
// 	padding-left: 20px;
// 	color: #999999;
// 	font-size: 13px;
// }
