.cancel-container {
  .question {
    margin: 15px 0px;
    font-weight: 600;
  }
  ul {
    display: block;
    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 20px;
      .icon {
        font-size: 42px;
        color: #1dbf73;
        margin-right: 20px;
        min-width: 40px;
      }
      .title {
        font-weight: 600;
      }
      .description {
        font-size: 14px;
        color: rgb(85, 84, 84);
      }
    }
  }
}
