.requirement {
  margin-left: 30px;
  margin-right: 60px;

  .custom-btn {
    font-weight: 600;

    text-transform: capitalize;
    text-shadow: none;
    line-height: 45px;
    padding: 0px 35px;
    border-radius: 3px;
  }
  .cancel {
    background: linear-gradient(#fff, #f5f5f5);
    background-color: #fff;
    border: 1px solid #ccc;

    color: #303030 !important;
    &:hover {
      text-decoration: none;
      color: #303030 !important;
    }
  }
  .successBtn {
    background-color: #50c074;
    color: white;
    border: none;
    &:hover {
      background-color: #5fce82;
    }
  }
}
.requirement-wrapper {
  background: #fff;
  border-radius: 5px 5px 0 0;
  border: 1px solid #dadbdd;
  padding: 30px;
  input[type="checkbox"] {
    width: 18px !important;
    height: 18px !important;
    left: -75px !important;
    right: 0px !important;
    margin: 0px auto;
    margin-top: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid rgb(197, 196, 196);
    box-shadow: none;
    font-size: 0.8em;
    text-align: center;
    line-height: 1em;
    border-radius: 2px;
  }

  input[type="checkbox"]:checked:after {
    content: "✔";
    color: #555657;
  }
  input[type="checkbox"]:focus {
    outline: none;
  }
  textarea {
    height: 150px !important;
    resize: none;
  }
  textarea::placeholder {
    color: rgb(192, 190, 190) !important;
    font-weight: 400;
  }
  .textarea-wrap {
    position: relative;
    margin-bottom: 30px;

    .counter {
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: 14px;
      font-weight: 300;
    }
  }
  .title {
    font-size: 18px;
    line-height: 40px;
    color: #404145;
    font-weight: 700;
  }

  .subtitle {
    font-size: 14px;
    line-height: 24px;
    color: #95979d;
    font-weight: 400;
  }
  .title-break {
    font-size: 12px;
    line-height: 12px;
    color: #62646a;
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px auto;
    text-align: center;

    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      border-top: 1px solid #dedede;
      width: 38%;
      top: 7px;
    }
    &::after {
      content: "";
      position: absolute;
      left: auto;
      right: 0;
      border-top: 1px solid #dedede;
      width: 38%;
      top: 7px;
    }
  }
  .question-btn-wrapper {
    .question-btn {
      border: 1px solid #4a73e8;
      display: inline-block;
      color: #4a73e8;
      line-height: 42px;
      border-radius: 4px;
      padding: 0px 25px;
      font-weight: 500;
      cursor: pointer;
      i {
        font-size: 12px;
      }
      &:hover {
        background: #3f63c8;
        color: #fff;
      }
    }
  }
  .error-text {
    color: rgb(226, 38, 38);
    font-size: 12px;
    padding-top: 15px;
  }
  .add-question-wrapper {
    background-color: #f5f5f5;
    border: 1px solid #dadbdd;
    margin: 15px auto;
    padding: 24px 20px 20px;
    .title-wrap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
    }
    .add-title {
      font-size: 16px;
      line-height: 24px;
      color: #404145;
      font-weight: 600;
    }
    .select-wrap {
      width: 250px;
      margin: 12px 0px;
    }
    .button-wrap {
      text-align: right;
      margin-top: 40px;
      .custom-btn {
        line-height: 42px;
        padding: 0px 25px;
        margin-left: 10px;
        display: inline-block;
        cursor: pointer;
      }
      .cancel {
        background: none;
        color: gray !important;
        border: 1px solid rgb(66, 66, 66);
        &:hover {
          background: gray;
          color: white !important;
          border: 1px solid gray;
        }
      }
    }
  }
  .view-list-wrapper {
    ul {
      display: block;
      li {
        border: 1px solid #d8d7d7;
        padding: 20px;
        box-shadow: 0 2px 4px #efefef;
        border-radius: 3px;
        margin-bottom: 12px;
        width: 100%;
        .title-wrap {
          display: flex;
          justify-content: space-between;
          .title {
            font-size: 11px;
            line-height: 18px;
            text-transform: uppercase;
            color: #b5b6ba;
            font-weight: 700;
            i {
              margin-right: 5px;
            }
          }
          .action-filter .dropdown {
            width: auto;
            margin-right: -10px;
            button {
              border: none !important;
              i {
                font-size: 12px;
              }
            }
          }
        }
        .question {
          font-size: 14px;
          font-weight: 600;
          line-height: 22px;
          color: #404145;
        }
      }
    }
    .option-list{
      display: flex;
      justify-content: flex-start;
      span{
        margin-right: 6px;
        font-size: 14px;
        color: gray;
        font-weight: 500;
        position: relative;
        &::after{
content: ",";
        }
        &:last-child::after{
          content: "";
        }
      }
    }
  }
  .multiple-top-wrap {
    display: flex;
    justify-content: space-between;
    .checkbox-wrap{
      margin-top: 15px;
    }
    input[type="checkbox"] {
      width: 18px !important;
      height: 18px !important;
      margin: 0;
      left: -18px !important;
      top: 5px;
      right: 0px !important;
    }
  }
  .multiple-wrapper{
   
      input[type="text"]{
       margin-bottom: 12px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #ced4da;
    padding: 0px 10px;
    width: 100%;
    border-radius: 4px !important;
    &:focus-visible{
      outline: none !important;
      box-shadow: none;
      
    }
      }
      input[type="text"]::placeholder{
        color: rgb(204, 200, 200) !important;
      }
       .input-wrapper{
         position: relative;
         span{
           position: absolute;
           top: 10px;
           right: 15px;
           font-size: 14px;
           cursor: pointer;
           display: none;
         }
         &:hover{
           span{
             display: block;
           }
         }
    }
  }
}
