body{
    font-family: 'Be Vietnam', sans-serif;
}
a:hover{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700!important;
    color: #404145;
    margin-bottom: 0px!important;
}

.popular-services{
    padding: 50px 0;
}

.popular-services .title {
    display: block;
    text-align: left;
}
.popular-services .title h1{
    font-size: 28px;
    padding-bottom: 25px;
}
.popular-services .section-box{
    position: relative;
    height: 345px;
    width: 250px;
    overflow: hidden;
    border-radius: 5px;
}
.popular-services .section-box a{
    display: block;
}
.popular-services .section-box a:hover{
    text-decoration: none;
}
.popular-services .section-box .text{
    z-index: 1;
    position: relative;
    padding: 12px;
}
.popular-services .section-box .text h6{
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 2px;
}
.popular-services .section-box .text h4{
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0px;
}
.popular-services .section-box .image{

}
.popular-services .section-box .image img{
    -o-object-fit: cover;
    object-fit: cover;
    height: 345px;
    width: 100%;
    border-radius: 4px;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    position: absolute;
    top: 0;
}


/* front intro css */
.front-intro{
    background-color: #f1fdf7;
    padding: 60px 0;
}
/* .front-intro .text{
   
} */
.front-intro .text h2{
    font-size: 28px;
    padding-bottom: 25px;
}
.front-intro .text ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: list-item;
}
.front-intro .text ul li{
    padding: 10px 0;
}
.front-intro .text ul li h6{
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 30px;
}
.front-intro .text ul li h6 i{ 
    color: #62646a;
    font-size: 20px;
    padding-right: 5px;
}
.front-intro .text ul li p{ 
    font-size: 16px;
    font-weight: 400;
    color: #62646a;
    line-height: 22px;
    margin-bottom: 0px;
    text-align: left;
}

/* .front-intro .modal-wrapper{

} */

.front-intro .modal-wrapper .image{
    display: block;
    overflow: hidden;
    border-radius: 10px;
}

.front-intro .modal-wrapper .image img{
    height: 100%;
    width: 100%;
}


@media only screen and (min-width: 768px){
    .front-intro .text{
        padding-right: 10%;
    }
}

@media only screen and (max-width: 768px){
    .front-intro .text{
        padding-bottom: 30px;
    }
}


/* guides css */

.guides{
    padding: 50px 0;

}

.guides .title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-bottom: 25px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.guides .title h2{
    font-size: 28px;
}

.guides .title a{
    font-size: 16px;
    font-weight: 400;
}

.guides .title a i{
font-size: 13px;
padding-left: 3px;
}

.guides .box-wrapper{
width: 100%;
display: block;
}

.guides .box-wrapper .image{
overflow: hidden;
border-radius: 5px;
padding-bottom: 15px;
}

.guides .box-wrapper .image img{
-o-object-fit: cover;
   object-fit: cover;
height: 100%;
width: 100%;
}

.guides .box-wrapper .image img:hover{
    opacity: .85;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}


.guides .box-wrapper .text h5{
font-size: 18px;
line-height: 22px;
}

.guides .box-wrapper .text p{
font-size: 16px;
font-weight: 400;
color: #62646a;
line-height: 22px;
margin-bottom: 0px;
text-align: left;
}

@media only screen and (max-width: 768px){
.guides .box-wrapper{
    padding-bottom: 30px;
 }
}


