.selectGigModal {
  max-width: 660px !important;
}

.select-gig {
  padding: 0px 24px;
}

.select-gig .select-item {
  cursor: pointer;
  border: 1px solid #e2e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
}

.select-gig .select-item:hover {
  border-color: #1dbf73;
}

.select-gig .select-item .img-wrapper {
  height: 50px;
  width: 80px;
  margin-right: 10px;
}

.select-gig .select-item .img-wrapper img {
  border-radius: 4px;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.select-gig .select-item .title {
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  color: #222325;
}

.create-offer-modal {
  padding: 10px 0px;
}

.create-offer-modal .title-wrapper {
  padding: 10px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-offer-modal .title-wrapper .title {
  font-size: 16px;
  font-weight: 600;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.create-offer-modal .title-wrapper .select-btn {
  padding: 6px 0px;
  cursor: pointer;
  text-align: center;
  height: 36px;
  margin-left: 20px;
  width: 160px;
  color: #1dbf73;
  border: 1px solid #1dbf73;
  border-radius: 4px;
  font-size: 14px;
}

.create-offer-modal .textarea-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 24px;
}

.create-offer-modal .textarea-section .img-wrapper {
  height: 130px;
  width: 200px;
  margin-right: 15px;
}

.create-offer-modal .textarea-section .img-wrapper img {
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 4px;
}

.create-offer-modal .textarea-section .textarea-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.create-offer-modal .textarea-section .textarea-wrapper textarea {
  width: 100%;
  height: 130px;
}

.create-offer-modal .textarea-section .textarea-wrapper textarea::-webkit-input-placeholder {
  font-weight: 300;
}

.create-offer-modal .textarea-section .textarea-wrapper textarea:-ms-input-placeholder {
  font-weight: 300;
}

.create-offer-modal .textarea-section .textarea-wrapper textarea::-ms-input-placeholder {
  font-weight: 300;
}

.create-offer-modal .textarea-section .textarea-wrapper textarea::placeholder {
  font-weight: 300;
}

.create-offer-modal .textarea-section .textarea-wrapper .form-group {
  margin-bottom: 0;
}

.create-offer-modal .textarea-section .textarea-wrapper .counter {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.create-offer-modal .terms {
  padding: 10px 24px;
  margin-top: 15px;
}

.create-offer-modal .terms h6 {
  color: #4e4e4e;
  font-weight: 400 !important;
  margin-bottom: 20px !important;
}

.create-offer-modal .terms .term-wrapper {
  border: 1px solid #e0e0e0;
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.create-offer-modal .terms .term-wrapper .title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #3f3f3f;
}

.create-offer-modal .terms .term-wrapper .revision-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}

.create-offer-modal .terms .term-wrapper .delivery-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}

.create-offer-modal .terms .term-wrapper .price-wrap {
  margin-right: 20px;
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.create-offer-modal .expire-wrap {
  padding: 20px 0px;
  margin: 10px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #d6d6d6;
}

.create-offer-modal .expire-wrap .title {
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  color: #555555;
}

.create-offer-modal .expire-wrap select {
  border-radius: 4px;
  width: 90px;
  padding: 6px 10px;
  border: 1px solid #ababab;
  background: white;
}

.create-offer-modal .expire-wrap select:disabled {
  background-color: #f5f5f5;
}

.create-offer-modal .main-title {
  font-weight: 600;
  font-size: 16px;
  color: #3a3939;
  padding: 15px 24px;
  border: 1px solid #d6d6d6;
  background-color: #f5f5f5;
}

.create-offer-modal .offer-wrapper ul {
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;
}

.create-offer-modal .offer-wrapper ul li {
  padding: 18px 24px;
  min-height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #d6d6d6;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-offer-modal .offer-wrapper ul li.active {
  background-color: #e8faf4;
}

.create-offer-modal .offer-wrapper ul li .title {
  margin-left: 10px;
  display: inline-block;
}

.create-offer-modal .offer-wrapper ul li:last-child {
  border-bottom: none;
}

.create-offer-modal .offer-wrapper ul li select {
  border-radius: 4px;
  width: 90px;
  padding: 6px 10px;
  border: 1px solid #ababab;
  background: white;
}

.create-offer-modal .offer-wrapper ul li select:disabled {
  background-color: #f5f5f5;
}

.create-offer-modal .create-offer-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  padding: 14px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create-offer-modal .create-offer-footer .back-btn {
  cursor: pointer;
  background-color: #ececec;
  font-weight: 600;
  color: #5e5c5c;
  border-radius: 4px;
  padding: 9px 24px;
}

.create-offer-modal .create-offer-footer .back-btn:hover {
  background-color: #e4e5e7;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.create-offer-modal .create-offer-footer button {
  cursor: pointer;
  background-color: #1dbf73;
  font-weight: 600;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 9px 24px;
}

.create-offer-modal .create-offer-footer button:hover {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #10b367;
}

.select-package-offer {
  padding: 0px 20px;
}

.select-package-offer .package-item {
  padding: 20px;
  margin: 20px 0px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}

.select-package-offer .package-item .title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select-package-offer .package-item .title-wrapper .first-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.select-package-offer .package-item .title-wrapper .first-wrap .title {
  font-size: 18px;
  font-weight: 600;
  color: #404145;
}

.select-package-offer .package-item .title-wrapper .first-wrap .others {
  font-size: 16px;
  font-weight: 600;
  color: #5c5b5b;
}

.select-package-offer .package-item .title-wrapper .first-wrap .others span {
  margin-right: 15px;
}

.select-package-offer .package-item .title-wrapper .first-wrap .others i {
  font-size: 12px;
  margin-right: 5px;
}

.select-package-offer .package-item .title-wrapper .price-wrap {
  font-size: 20px;
  text-align: right;
  width: 100px;
  font-weight: 500;
  color: #10b367;
}

.select-package-offer .package-item .title-wrapper .select-btn {
  padding: 8px 0px;
  cursor: pointer;
  text-align: center;
  height: 40px;
  margin-left: 20px;
  width: 100px;
  font-weight: 600;
  color: white;
  background-color: #1dbf73;
  border-radius: 4px;
}

.select-package-offer .package-item .title-wrapper .select-btn:hover {
  background-color: #0c9c59;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.select-package-offer .package-item .description {
  font-size: 14px;
  color: #62646a;
  margin: 15px 0;
}

.select-package-offer .package-item .options .title {
  display: inline-block;
  color: #62646a;
  font-size: 13px;
  margin-right: 10px;
}

.select-package-offer .package-item .options i {
  color: #10b367;
  font-size: 14px;
  margin-right: 5px;
}

.select-package-offer .select-package-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.select-package-offer .select-package-footer .back-btn {
  cursor: pointer;
  background-color: #ececec;
  font-weight: 600;
  color: #5e5c5c;
  border-radius: 4px;
  padding: 9px 24px;
}

.select-package-offer .select-package-footer .back-btn:hover {
  background-color: #e4e5e7;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/*# sourceMappingURL=style.css.map */